<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="$css">
    <script type="text/javascript" src="$js"></script>
</head>
<body>
    #parse($partial)
</body>
</html>
