<div class="container">
	<label>Escriba el nombre de un distrito, id de distrito : </label><label style="color:red" id="distrito_id"></label><br>
	<input type="text" name="nombre" id="txtNombre" style="width: 500px">
	<ul id="coincidencias"></ul>
</div>